body {
  background-color: #2f9178;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
}

.content {
  height: 100vh;
  display: grid;
  grid-template: 1fr 1fr 0.4fr/1fr 1fr 1fr;
}
.content .content__heros {
  grid-column: 1/4;
  grid-row: 3/1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.content .content__heros .content__hero {
  height: 80%;
}
.content .content__textbar {
  grid-row: 3/4;
  grid-column: 1/4;
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.548);
}
.content .content__textbar .textbar__from {
  color: #ec8e69;
}
.content .content__textbar .textbar__text {
  margin: 10px;
  font-size: 20px;
}