@charset "UTF-8";
body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

.intro {
  display: grid;
  grid-template: 1fr 1fr/1fr;
  position: relative;
}

.exit-button {
  top: 0;
  right: 0;
  position: absolute;
  background-color: #BF2E97;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exit-button::after {
  font-size: 30px;
  content: "×";
  cursor: pointer;
}

.menu {
  transform: translate(0, -100vh);
  transition: all 0.5s;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
}
.menu .menu__links {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.menu .menu__links .menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  margin: 10px;
  padding-left: 20px;
  transition: all 0.2s;
}
.menu .menu__links .menu__link:hover {
  border-left: solid red 2px;
  color: red;
}
.menu .menu__hero {
  height: 40%;
  width: auto;
  object-fit: fill;
}

.menuBtn-active {
  transform: translate(0, 0);
}

.exit-button {
  text-decoration: none;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #BF2E97;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exit-button::after {
  font-size: 30px;
  content: "×";
  cursor: pointer;
}

.menu-button {
  margin: 20px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #BF2E97;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-button::after {
  font-size: 30px;
  content: "+";
  cursor: pointer;
}

.intro__video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100vh;
}
.intro__video .intro__media {
  width: 100%;
}
.intro__video .intro__text {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  text-align: center;
}
.intro__video .intro__text span {
  color: red;
}
.intro__video .intro__text .intro__logo {
  color: red;
}

.intro__main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  position: relative;
}
.intro__main .intro__hero {
  height: 70%;
  width: auto;
  right: 10%;
  position: absolute;
  z-index: 0;
}
.intro__main .intro__info {
  margin: 10%;
  z-index: 1;
}
.intro__main .intro__info .intro__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  max-width: 350px;
  height: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.intro__main .intro__info .intro__text .info__title {
  margin: 8px;
}
.intro__main .intro__info .intro__text .info__title span {
  color: red;
}
.intro__main .intro__info .intro__text .info__text {
  font-size: 13px;
}
.intro__main .intro__info .intro__text .info__buttons {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.intro__main .intro__info .intro__text .info__buttons .info__button {
  margin-right: 10px;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 8px 20px;
  color: #fff;
  z-index: 1;
  transition: 0.4s;
}
.intro__main .intro__info .intro__text .info__buttons .info__button:hover {
  color: red;
  border: solid red 1px;
}

@media (min-width: 1000px) {
  .menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }
  .menu .menu__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.4s;
  }
  .menu .menu__links .menu__link {
    color: #fff;
    font-size: 2rem;
    margin: 10px;
  }
  .menu .menu__hero {
    height: 80%;
    width: auto;
    object-fit: fill;
  }

  .intro__video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100vh;
  }
  .intro__video .intro__media {
    width: 100%;
  }
  .intro__video .intro__text {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  .intro__video .intro__text span {
    color: red;
  }
  .intro__video .intro__text .intro__logo {
    color: red;
    font-size: 80px;
  }
  .intro__video .intro__text .intro__subtitle {
    font-size: 25px;
  }

  .intro__main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
  }
  .intro__main .intro__hero {
    height: 100%;
    width: auto;
    right: 10%;
    position: absolute;
    z-index: 0;
  }
  .intro__main .intro__info {
    margin: 10%;
    z-index: 1;
  }
  .intro__main .intro__info .intro__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    max-width: 500px;
    height: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
  }
  .intro__main .intro__info .intro__text .info__title {
    margin: 30px;
    font-size: 40px;
  }
  .intro__main .intro__info .intro__text .info__text {
    font-size: 20px;
  }
  .intro__main .intro__info .intro__text .info__buttons {
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }
  .intro__main .intro__info .intro__text .info__buttons .info__button {
    margin-right: 10px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px 20px;
    color: #fff;
    z-index: 1;
    transition: 0.4s;
  }
  .intro__main .intro__info .intro__text .info__buttons .info__button:hover {
    color: red;
    border: solid red 1px;
  }
}