@charset "UTF-8";
body {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: 0;
}

.textbar_action {
  margin-bottom: 2000px;
  margin-left: 1200px;
  height: 90px;
  width: 90px;
  position: absolute;
}

img.textbar_action {
  background: url(images/sun1.png);
  /* Путь к файлу с исходным рисунком  */
  margin-bottom: 2000px;
  margin-left: 1200px;
  height: 90px;
  width: 90px;
  position: absolute;
}

img.textbar_action:hover {
  background: url(images/sun2.png);
  /* Путь к файлу с заменяемым рисунком  */
  margin-bottom: 2000px;
  margin-left: 1200px;
  height: 90px;
  width: 90px;
  position: absolute;
}

.textbar__restart {
  position: absolute;
  margin-left: 1020px;
  margin-top: 15px;
}

.content {
  height: 100vh;
  display: grid;
  grid-template: 1fr 1fr 0.4fr/1fr 1fr 1fr;
}
.content .content__heros {
  z-index: 1;
  grid-column: 1/4;
  grid-row: 3/1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.content .content__heros .content__hero {
  height: 80%;
}
.content .content__textbar {
  z-index: 1;
  grid-row: 3/4;
  grid-column: 1/4;
  padding: 4%;
  background-color: rgba(0, 0, 0, 0.548);
}
.content .content__textbar .textbar__from {
  color: #ec8e69;
}
.content .content__textbar .textbar__text {
  margin: 10px;
  font-size: 20px;
}