.menu
    a.exit-button(href="#menu") 
    .menu__links
        a.menu__link(href="") Play
        a.menu__link(href="") Choose Act
        a.menu__link(href="") Your Progress
        a.menu__link(href="../index.html") Home
    img.menu__hero(src="hero-irl.gif")