doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="modules/css/contact.css")
        link(rel="stylesheet", href="modules/css/menu.css")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
        title Document
    body
        .wrapper
            img.bg(src="media/img/bg.jpg", alt="")
            include modules/menu.pug
            img.bg-hero(src="media/img/contacts-hero.png")
            main.contacts
                h1.contacts__title OSWN created by
                .contacts__items
                    .contacts__item
                        h2.item-name Alex Zolotarov
                        h3.item-sname Fullstack Development
                    .contacts__item
                        h2.item-name Andrew Jhonson
                        h3.item-sname Story Writer
                    .contacts__item
                        h2.item-name Annie Froger
                        h3.item-sname Artist
        script(src="modules/js/script.js")