body {
    color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import 'menu.scss';

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: 0;
  background: #111;
}
.content {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1fr .3fr / 1fr 1fr 1fr;
    @keyframes showIntro {
        25% {
            transform: translate(0, 100%);
        }
        50% {
            transform: translate(0, 100%);
        }
        100% {
            transform: translate(0, -100%);
        }
    }
    .content__intro {
        right: 0;
        left: 0;
        text-align: center;
        margin: auto;
        position: absolute;
        transform: translate(0, -100%);
        animation: showIntro 5s 1s ease;
    }
    .content__heros {
        z-index: 1;
        grid-column: 1 / 4;
        grid-row: 3 / 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .content__hero {
            height: 80%;
        }
    }
    .content__textbar {
        position: relative;
        z-index: 1;
        grid-row: 3 / 4;
        grid-column: 1 / 4;
        padding: 4%;
        background-color: rgba(0, 0, 0, 0.548);
        .textbar__from {
            color: rgb(236, 142, 105);
        }
        .textbar__text {
            margin: 10px;
            font-size: 20px;
        }
        .textbar__action {
            height: 50px;
            width: 50px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 5%;
        }
        .textbar__restart {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 2% 5%;
        }
    }
}