$color1: red;

.menu {
    transform: translate(0, -100vh);
    transition: all .5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, 0.8);
    z-index: 4;
      .menu__links {
        display: flex;
        flex-direction: column;
        text-align: center;
          .menu__link {
            text-decoration: none;
            color: #fff;
            font-size: 2rem;
            margin: 10px;
            padding-left: 20px;
            transition: all .2s;
              &:hover {
                border-left: solid $color1 2px;
                color: $color1;
              }
          }
      }
      .menu__hero {
        height: 40%;
        width: auto;
        object-fit: fill;
      }
  }
  .menuBtn-active {
    transform: translate(0, 0);
  }
  .exit-button {
    text-decoration: none;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #BF2E97;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
      &::after {
        font-size: 30px;
        content: "×";
        cursor: pointer;
      }
  }
  .menu-button {
    margin: 20px;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #BF2E97;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
      &::after {
        font-size: 30px;
        content: "+";
        cursor: pointer;
      }
  }

  // Desktop
  @media (min-width: 1000px) {
    // Menu
  .menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, 0.8);
    z-index: 4;
      .menu__links {
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all .4s;
          .menu__link {
            color: #fff;
            font-size: 2rem;
            margin: 10px;
          }
      }
      .menu__hero {
        height: 80%;
        width: auto;
        object-fit: fill;
      }
  }
}